body {
    background:url('../images/cities.jpg');
    font-family: 'Bowlby One SC', cursive;
}

.jumbotron {
    background: gray;
    color: white;
}

.container {
    text-align: center;
}

.heading, h3, h2 {
    color: white;
    font-size: 100px;
}

.game-title {
    font-size: 70px;
}

h1 {
    font-size: 100px;
    color: white;
}




